/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
  background: #f1faee;
}

a {
  color: #34b7a7;
  text-decoration: none;
}

a:hover {
  color: #51cdbe;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
p{
  font-size: 18px;
}
#main {
  margin-top: 10px;
}

@media (max-width: 992px) {
  #main {
    margin-top: 5px;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #34b7a7;
  border-top-color: #dcf5f2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 4px;
  bottom: 80px;
  z-index: 996;
  background: #FC5404;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #49cbbb;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
@media(max-width: 520px){
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 4px;
    bottom: 6px;
    z-index: 996;
    background: #FC5404;
    width: 25px;
    height: 30px;
    border-radius: 2px;
    transition: all 0.6s;
  }
  .back-to-top i {
    font-size: 22px;
    color: #fff;
    line-height: 0;
  }
}
  /*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #00bbf9;
  color: #fff;
  height: 40px;
  transition: all ease-in-out 0.5s;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar i {
  padding-right: 6px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: sticky;
  top: 0;
  background: #008591;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #222222;
}

#header .logo img {
  width: auto;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}
@media(max-width: 520px){
  #header .logo img {
    width: auto;
    height: 25px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 10px 0 10px 28px;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #DBF6E9;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #DBF6E9;
  visibility: hidden;
  width: 0px;
  transition: all 0.5s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 30px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #FC8621;
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #DBF6E9;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.6);
  transition: 0.3s;
  z-index: 99999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 99999;
}

.navbar-mobile a {
  font-size: 15px;
  padding-right: 15px;
  color: #222222;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #FC8621;
}
.right-side .btn{
  border: 1px solid #ff7d0b;
  color: #DBF6E9;
  border-radius: 3px;
}
.right-side .btn:hover{
  background: #00bbf927;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/hero-img.jpg") top right;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(25, 0, 70, 0.212);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  padding-top: 50px;
  position: relative;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 48px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 1px;
  text-shadow: 1px 2px 4px #222222;
  color: #FC8621;
}

#hero h2 {
  color: #f5f5f5;
  letter-spacing: 1px;
  text-shadow: 3px 3px 6px #222222;
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #34b7a7;
}

#hero .btn-about:hover {
  background: #3dc8b7;
}
@media(max-width: 620px){
  #hero {
    width: 100%;
    height: 80vh;
    background-size: cover;
  }
  #hero h1 {
    margin: 0;
    font-size: 40px;
  }
  #hero h2 {
    color: #f5f5f5;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #222222;
    margin: 10px 0 0 0;
    font-size: 16px;
  }
  #hero .btn-about {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
  }
}
.home-wr1{
  background-color: #e6f9ff;
}
.home-wr1 img{
  cursor: pointer;
}
.home-wr1 h3{
  font-size: 56px;
  color: #3d5a80;
}
.home-wr1 h3 strong{
  font-size: 68px;
  color: #ca6702;
}
.home-wr1 h3 span{
  font-size: 30px;
  color: #f3722c;
  font-weight: 600;
  padding: 10px 0px;
}

@media(max-width: 990px){
  .home-wr1 h3{
    font-size: 45px;
    color: #3d5a80;
  }
  .home-wr1 h3 strong{
    font-size: 56px;
    color: #ca6702;
  }
  .home-wr1 h3 span{
    font-size: 25px;
    color: #f3722c;
    font-weight: 600;
    padding: 10px 0px;
  }
}
@media(max-width: 640px){
  .home-wr1 h3{
    font-size: 35px;
    color: #3d5a80;
  }
  .home-wr1 h3 strong{
    font-size: 46px;
    color: #ca6702;
  }
  .home-wr1 h3 span{
    font-size: 18px;
    color: #f3722c;
    font-weight: 600;
    padding: 10px 0px;
  }
}
@media(max-width: 380px){
  .home-wr1 h3{
    font-size: 28px;
    color: #3d5a80;
  }
  .home-wr1 h3 strong{
    font-size: 36px;
    color: #ca6702;
  }
  .home-wr1 h3 span{
    font-size: 18px;
    color: #f3722c;
    font-weight: 600;
    padding: 10px 0px;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding-bottom: 50px;
}

.section-bg {
  background-color: #e7f8f6;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 30px;
  font-weight: bold;
  color: #008591;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: #3fbbc0;
  color: #fff;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  font-size: 28px;
  font-weight: 700;
}

.cta .cta-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 1px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #00e0d5;
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about-hero {
  width: 100%;
  height: 70vh;
  background: url("../img/team.jpg ") top right;
  background-size: contain;
}
#about-hero h3 {
  margin-top: -15%;
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
  color: #FC8621;
  text-shadow: 2px 2px 14px #222222;
}
@media(max-width: 620px){
  #about-hero {
    width: 100%;
    height: 50vh;
    background-size: cover;
  }
}
@media(max-width: 620px){
  #about-hero h3{
    margin-top: -20%;
    font-size: 25px;
  }
}
.about-wr h5{
  color: #008591;
  font-weight: 600;
  font-size: 22px;
}
.about-wr p{
  font-size: 18px;
}
.about-wr img:hover{
  transform: scale(1.03);
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.about-wr1 h3{
  font-size: 23px;
  font-weight: 600;
  color: #008591;
}
.about-wr1 h5{
  color: #00bbf9;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.about-wr1 p{
  font-size: 18px;
}
.about-wr1 .card{
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 10px;
  transition: all ease-in-out 0.5s;
}
.about-wr1 .card:hover{
  border-bottom: 6px solid #00bbf9;
  transform: translateY(-10px);
  background-color: #00bbf912;
  border-radius: 14px;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
}
.about-wr1 i{
  font-size: 55px;
  text-align: center;
  border: 1px solid #49cbbb;
  border-radius: 50px;
  color: #009961;
  padding: 10px;
  transition: all ease-in-out 0.5s;
}
.about-wr1 .card:hover i{
  background-color: #49cbbb;
  color: #fff;
}
.team-wrapp h3{
  font-size: 22px;
  font-weight: 600;
  color: #008591;
}
.team-wrapp p{
  font-size: 17px;
}
.about-wr2 .card{
  border-radius: 6px;
  background-color: #00bbf92d;
  transition: all ease-in-out 0.5s;
}
.about-wr2 .card:hover{
  transform: translateY(-6px);
  background-color: #00bbf909;
  cursor: pointer;
  border-bottom: 4px solid #00bbf9;
}
.about-wr2 span{
  font-size: 50px;
}
.about-wr2 p{
  font-size: 18px;
  color: #00bbf9;
}
.icon-box i{
  font-size: 60px;
  padding: 10px;
}
@media(max-width: 620px){
  .about-wr p{
    font-size: 17px;
  }
  .about-wr1 p{
    font-size: 17px;
  }
}
  /*--------------------------------------------------------------
# products
--------------------------------------------------------------*/
#product-hero {
  width: 100%;
  height: 80vh;
  background: url("../img/products.jpg ") top right;
  background-size: contain;
}
@media(max-width: 620px){
  #product-hero{
    background-size: cover ;
  }
}
.product-wr{
  background-color: #00859109;
  padding: 0px 20px;
  border-radius: 8px;
}
.product-wr .card{
  margin-left: 2px;
  transition: all ease-in-out 0.3s;
  /* padding: 5px 5px; */
}
.product-wr .card:hover{
  transform: translateY(-6px);
  border-radius: 12px;
  border-bottom: 5px solid #009961;
  background-color: inherit;
  cursor: pointer;
  /* padding: 5px 5px; */
}
.product-wr h4{
  font-size: 28px;
  font-weight: 700;
  padding: 10px 0px;
}
.product-wr h5{
  font-size: 22px;
  font-weight: 700;
  color: #008591;
}
.product-wr h6{
  padding: 10px 2px;
  font-size: 20px;
  font-weight: 600;
}

.product-wr1 .product-wr2 .product-wr3{
  padding: 30px 0px;
}
.product-more p{
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -1px;
}
.product-wr img{
  width: 50%;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}
.product-wr3 img{
  width: 50%;
  text-align: center;
  margin: auto;
}
@media(max-width: 740px){
  .product-wr h4{
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0px;
  }
  .product-wr h5{
    font-size: 18px;
    font-weight: 600;
    color: #008591;
  }
  .product-wr h6{
    padding: 10px 2px;
    font-size: 17px;
    font-weight: 600;
  }
  .product-wr img{
    width: 50%;
    text-align: center;
    margin: auto;
  }
  .product-more p{
    font-size: 17px;
  }
}
  /*--------------------------------------------------------------
# services
--------------------------------------------------------------*/
.owl-carousel .center img{
  border: 4px solid #00bbf9;
  padding: 1px;
  border-radius: 4px;
}

.owl-carousel .owl-item{
  border: 1px solid #009961;
  border-radius: 4px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  display: none;
}
.gallery-img img:hover{
  transform: scale(1.03);
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.services .col-md-4{
  transition: all ease-in-out 0.5s;
  padding-top: 16px;
  border-radius: 10px;
  border-top: 1px solid #d8d8d8;
  background: #fff;

}

.services .col-md-4:hover{
  border-bottom: 5px solid #49cbbb;
  border-top: none;
  transform: translateY(-6px);
  background-color: #00bbf912;
  cursor: pointer;
}
.services i{
  font-size: 55px;
  text-align: center;
  border: 1px solid #49cbbb;
  border-radius: 50px;
  color: #009961;
  padding: 10px;
  transition: all ease-in-out 0.5s;

}
.services .col-md-4:hover i{
  background-color: #49cbbb;
  color: #fff;
  font-size: 60px;
}
.services h5{
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
  color: #00bbf9;
  font-weight: 600;
}
.services p{
  font-size: 18px;
}
.customer h3{
  color: #008591;
  font-size: 24px;
  padding: 5px;
}
.customer p{
  font-size: 18px;
}
.customer .card{
  background: #00bbf907;
  border: 1px solid #00608020;
}
.customer .card h5{
  color: #00e8f9!important;
  cursor: pointer;
}
  /*--------------------------------------------------------------
# contact
--------------------------------------------------------------*/
#contact{
  padding-top: 20px;
}
.contact .info i {
  font-size: 34px;
  color: #009961;
  float: left;
  line-height: 1;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  color: #282828;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 15px;
  color: #5b5b5b;
}
.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact-form input, .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
  border-radius: 4px;
}
.contact-form input:focus, .contact-form textarea:focus {
  border-color: #009961;
  box-shadow: none;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #27496D;
  padding: 30px 0;
  color: #EEEEEE;
  font-size: 14px;
  text-align: center;
}
